<footer>
    <!-- <div class="footer-container"> -->
        <span class="white-color">&copy; Kevin's WeBuy</span>
    <!-- </div> -->
</footer>

<!-- <script></script> -->
<script src="/index.js"></script>
</div>
</body>

</html>