<%- include("partials/header.ejs", {title: "Forgot", isLoggedIn: false}) %>

<div class="forgot-container">
    <div class="form-container flex-container flex-col">
        <h2 class="form-title theme-color">Reset password</h2>
        <p class="form-intro theme-color">Unlock a seamless shopping experience</p>
        <hr>
        <form id="forgotPasswordForm" class="flex-container flex-col">
            <div class="input-field flex-container flex-col">
                <label class="form-label theme-color" for="email">Email Address:</label>
                <input class="form-input" type="text" placeholder="Enter your email address: " id="email">
            </div>

            <button class="form-button" type="submit">Reset Password</button>
        </form>
    </div>
</div>
<%- include("partials/footer.ejs") %>
<script src="/forgot.js"></script>
<link rel="stylesheet" href="/styles/forgot.css">

