

<!-- <main>
    <form id="resetPasswordForm">
        <label for="username">Username or Email Address</label>
        <input type="text" placeholder="Enter your usersername or email: " id="username">

        <label for="password">Password</label>
        <input type="text" placeholder="Enter your password: " id="password">
        <label for="confirm-pwd">Confirm Password</label>
        <input type="text" placeholder="Confirm your password: " id="confirm-pwd">
        <button type="submit">Reset Password</button>
    </form>
</main>
<script src="/reset.js"></script> -->


<%- include("partials/header.ejs", {title: "Forgot", isLoggedIn: false}) %>

<div class="reset-container">
    <div class="form-container flex-container flex-col reset-form-container">
        <h2 class="form-title theme-color">Reset password</h2>
        <p class="form-intro theme-color">Unlock a seamless shopping experience</p>
        <hr>
        <form id="resetPasswordForm" class="flex-container flex-col">
            <div class="input-field flex-container flex-col">
                <label class="form-label theme-color" for="username">Username or Email Address</label>
                <input class="form-input" type="text" placeholder="Enter your usersername or email: " id="username">
            </div>
            <div class="input-field flex-container flex-col">
                <label class="form-label theme-color" for="password">Your new password</label>
                <input class="form-input" type="text" placeholder="Enter your new password: " id="password">
            </div>
            <div class="input-field flex-container flex-col">
                <label class="form-label theme-color" for="confirm-pwd">Confirm your new password</label>
                <input class="form-input" type="text" placeholder="Confirm your password: " id="confirm-pwd">
            </div>

            <button class="form-button" type="submit">Reset Password</button>
        </form>
    </div>
</div>
<%- include("partials/footer.ejs") %>
<script src="/reset.js"></script>
<link rel="stylesheet" href="/styles/reset.css">

